<router-outlet></router-outlet>
<head>
  <title>Cloud Paint</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<div class="toolbar">
  <div class="row">
    <button
      mat-raised-button
      matTooltip="Paste"
      (click)="paste()"
      class="big-button"
    >
      <mat-icon class="big-icon" svgIcon="clipboard"></mat-icon>
    </button>
    <div>
      <button
        mat-raised-button
        matTooltip="Cut"
        (click)="cut()"
        class="basic-button"
      >
        <mat-icon class="icon" svgIcon="scissors"></mat-icon>
      </button>
      <button
        mat-raised-button
        matTooltip="Copy"
        (click)="copy()"
        class="basic-button"
      >
        <mat-icon class="icon" svgIcon="copy"></mat-icon>
      </button>
    </div>
    <div class="row">
      <button
        mat-raised-button
        matTooltip="Select"
        [ngClass]="{ selectedTool: currentTool === PaintTool.selector }"
        (click)="setTool(PaintTool.selector)"
        class="big-button"
      >
        <mat-icon class="big-icon" svgIcon="selection"></mat-icon>
      </button>
    </div>
    <div>
      <button
        mat-raised-button
        matTooltip="Pencil"
        [ngClass]="{ selectedTool: currentTool === PaintTool.pencil }"
        (click)="setTool(PaintTool.pencil)"
        class="basic-button"
      >
        <mat-icon class="icon" svgIcon="pencil"></mat-icon>
      </button>
      <button
        mat-raised-button
        matTooltip="Eraser"
        [ngClass]="{ selectedTool: currentTool === PaintTool.eraser }"
        (click)="setTool(PaintTool.eraser)"
        class="basic-button"
      >
        <mat-icon class="icon" svgIcon="eraser"></mat-icon>
      </button>
    </div>
    <div>
      <button
        mat-raised-button
        matTooltip="Bucket"
        [ngClass]="{ selectedTool: currentTool === PaintTool.bucket }"
        (click)="setTool(PaintTool.bucket)"
        class="basic-button"
      >
        <mat-icon class="icon" svgIcon="bucket"></mat-icon>
      </button>
      <button
        mat-raised-button
        matTooltip="Color picker"
        [ngClass]="{ selectedTool: currentTool === PaintTool.colorPicker }"
        (click)="enableColorPicker()"
        class="basic-button"
      >
        <mat-icon class="icon" svgIcon="dropper"></mat-icon>
      </button>
    </div>
    <div>
      <button
        mat-raised-button
        matTooltip="Text"
        [ngClass]="{ selectedTool: currentTool === PaintTool.text }"
        (click)="setTool(PaintTool.text)"
        class="basic-button"
      >
        <mat-icon class="icon" svgIcon="text"></mat-icon>
      </button>
      <button
        mat-raised-button
        matTooltip="Magnifier"
        [ngClass]="{ selectedTool: currentTool === PaintTool.magnifier }"
        (click)="setTool(PaintTool.magnifier)"
        class="basic-button"
      >
        <mat-icon class="icon" svgIcon="magnifier"></mat-icon>
      </button>
    </div>
    <div>
      <ng-container [ngSwitch]="selectedArrowTool">
        <button
          mat-raised-button
          matTooltip="Marker pen"
          [ngClass]="{ selectedTool: currentTool === PaintTool.pen }"
          (click)="setTool(PaintTool.pen)"
          *ngSwitchCase="PaintTool.pen"
          class="change-button"
        >
          <mat-icon class="icon" svgIcon="pen"></mat-icon>
        </button>
        <button
          mat-raised-button
          matTooltip="Highlighter"
          [ngClass]="{ selectedTool: currentTool === PaintTool.highlighter }"
          (click)="setTool(PaintTool.highlighter)"
          *ngSwitchCase="PaintTool.highlighter"
          class="change-button"
        >
          <mat-icon class="icon" svgIcon="highlighter"></mat-icon>
        </button>
      </ng-container>
      <button mat-raised-button class="arrow-button" [matMenuTriggerFor]="menu">
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          class="menu-option"
          mat-menu-item
          (click)="
            selectedArrowTool = PaintTool.highlighter;
            setTool(PaintTool.highlighter)
          "
        >
          <mat-icon svgIcon="highlighter"></mat-icon>
          <span>Highlighter</span>
        </button>
        <button
          class="menu-option"
          mat-menu-item
          (click)="selectedArrowTool = PaintTool.pen; setTool(PaintTool.pen)"
        >
          <mat-icon svgIcon="pen"></mat-icon>
          <span>Marker Pen</span>
        </button>
      </mat-menu>
    </div>
    <div class="color-container">
      <div class="color-column">
        <button
          mat-raised-button
          matTooltip="Black"
          [ngClass]="{ selectedColor: currentColor === 'black' }"
          class="black"
          (click)="setColor('black')"
        ></button>
        <button
          mat-raised-button
          matTooltip="White"
          [ngClass]="{ selectedColor: currentColor === 'white' }"
          class="white"
          (click)="setColor('white')"
        ></button>
      </div>
      <div class="color-column">
        <button
          mat-raised-button
          matTooltip="Lightgrey"
          [ngClass]="{ selectedColor: currentColor === 'lightgrey' }"
          class="lightgrey"
          (click)="setColor('lightgrey')"
        ></button>
        <button
          mat-raised-button
          matTooltip="Brown"
          [ngClass]="{ selectedColor: currentColor === 'brown' }"
          class="brown"
          (click)="setColor('brown')"
        ></button>
      </div>
      <div class="color-column">
        <button
          mat-raised-button
          matTooltip="Red"
          [ngClass]="{ selectedColor: currentColor === 'red' }"
          class="red"
          (click)="setColor('red')"
        ></button>
        <button
          mat-raised-button
          matTooltip="Deeppink"
          [ngClass]="{ selectedColor: currentColor === 'deeppink' }"
          class="deeppink"
          (click)="setColor('deeppink')"
        ></button>
      </div>
      <div class="color-column">
        <button
          mat-raised-button
          matTooltip="Yellow"
          [ngClass]="{ selectedColor: currentColor === 'yellow' }"
          class="yellow"
          (click)="setColor('yellow')"
        ></button>
        <button
          mat-raised-button
          matTooltip="Orange"
          [ngClass]="{ selectedColor: currentColor === 'orange' }"
          class="orange"
          (click)="setColor('orange')"
        ></button>
      </div>
      <div class="color-column">
        <button
          mat-raised-button
          matTooltip="Green"
          [ngClass]="{ selectedColor: currentColor === 'green' }"
          class="green"
          (click)="setColor('green')"
        ></button>
        <button
          mat-raised-button
          matTooltip="Lightgreen"
          [ngClass]="{ selectedColor: currentColor === 'lightgreen' }"
          class="lightgreen"
          (click)="setColor('lightgreen')"
        ></button>
      </div>
      <div class="color-column">
        <button
          mat-raised-button
          matTooltip="Blue"
          [ngClass]="{ selectedColor: currentColor === 'blue' }"
          class="blue"
          (click)="setColor('blue')"
        ></button>
        <button
          mat-raised-button
          matTooltip="Turquoise"
          [ngClass]="{ selectedColor: currentColor === 'turquoise' }"
          class="turquoise"
          (click)="setColor('turquoise')"
        ></button>
      </div>
      <div class="color-column">
        <button
          mat-raised-button
          matTooltip="Purple"
          [ngClass]="{ selectedColor: currentColor === 'purple' }"
          class="purple"
          (click)="setColor('purple')"
        ></button>
        <button
          mat-raised-button
          matTooltip="Plum"
          [ngClass]="{ selectedColor: currentColor === 'plum' }"
          class="plum"
          (click)="setColor('plum')"
        ></button>
      </div>
      <button mat-raised-button (click)="clear()">clear</button>
    </div>
  </div>
</div>
<div>
  <label for="dropdown">Select an option:</label>
  <select id="dropdown">
    <option *ngFor="let value of imageNames" [value]="value">{{ value }}</option>
  </select>
</div>

<div class="container">
  <div class="canvas-container" (contextmenu)="onRightClick($event)">
    <canvas
      class="canvas"
      id="canvas"
      [style.border]="'2px solid black'"
      width="1200"
      height="600"
    ></canvas>
  </div>
  <div class="server-buttons-container">
    <input
      class="choose-file-button"
      type="file"
      id="fileInput"
      (change)="uploadCanvas($event)"
      accept="image/*"
    />
    <button
      mat-raised-button
      class="server-button"
      id="download"
      (click)="downloadCanvas()"
    >
      Download
    </button>
    <button 
      mat-raised-button
      class="server-button"
      id="upload"
      (click)="uploadCanvasButton()">
      Upload
    </button>
  </div>
</div>
